@media (max-width: 480px) {
  .sum-report .radio-group {
    width: 100%;
    margin-left: 0;
  }
  .panel .date {
    margin-top: 10px;
  }
  .panel label .select {
    width: 20px;
    margin-top: 10px;
  }

  .scroll-content {
    padding: 5px 2px;
  }

  .lookups .table-title th {
    font: 8px/1em 'Montserrat Bold';
  }
  .lookups .table-scroll {
    font: 8px/1em 'Montserrat Regular';
  }
  .lookups .border-button .button {
    font: 9px/1em 'Montserrat Regular';
    padding: 11px 3px;
    width: 100px;
  }
  .lookups .bottom {
    bottom: -1.5em;
  }
}

@media (min-width: 767px) {
  .appointments .appointment-author {
    margin-top: 30px;
  }

  .snapshot-button {
    max-width: 130px;
  }

  .albom-box > [class*="col-"]:nth-child(2),
  .albom-box > [class*="col-"]:nth-child(3) {
    padding: 0 24px 0 0;
    position: relative;
  }
  .albom-box > [class*="col-"]:nth-child(2):after,
  .albom-box > [class*="col-"]:nth-child(3):after {
    content: '';
    position: absolute;
    top: 0;
    right: 12px;
    width: 1px;
    height: 150%;
    background-color: #d4d5d7;
  }

  .events-managment-2 .new-data {
    text-align: right;
  }
  .event-lists .align-right {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .table-responsive {
    border: none;
  }
  .customer-ac-hist .pdf-submit .button {
    margin-top: 5px !important;
  }
  .focw-title-clear, .gradient-layer {
    display: none;
  }
  .appointment-author {
    margin-top: 10px;
  }

  .snapshot-button {
    max-width: auto;
  }

  .album .orange-button:not(.button-hide) {
    font: 8px/1em 'Montserrat Regular';
    padding: 6px 0;
  }

  .table-title table, 
  .table-scroll {
    min-width: 500px;
  }
  .list-index .table-title table,
  .list-index .table-scroll {
    min-width: 800px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .lookups .table-title th {
    font: 9px/1em 'Montserrat Bold';
  }
  .lookups .table-scroll {
    font: 9px/1em 'Montserrat Regular';
  }
  .lookups .border-button .button {
    font: 9px/1em 'Montserrat Regular';
    padding: 11px 3px;
    width: 100px;
  }
  .lookups .bottom {
    bottom: -1.5em;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .list-index .table-title th:nth-child(1),
  .list-index .table-scroll td:nth-child(1) {
    width: 12%;
  }

  .list-index .table-title th:nth-child(2),
  .list-index .table-scroll td:nth-child(2) {
    width: 15%;
  }

  .list-index .table-title th:nth-child(3),
  .list-index .table-scroll td:nth-child(3) {
    width: 10%;
  }

  .list-index .table-title th:nth-child(4),
  .list-index .table-scroll td:nth-child(4) {
    width: 10%;
  }

  .list-index .table-title th:nth-child(5),
  .list-index .table-scroll td:nth-child(5) {
    width: 12%;
  }

  .list-index .table-title th:nth-child(6),
  .list-index .table-scroll td:nth-child(6) {
    width: 13%;
  }

  .list-index .table-title th:nth-child(7),
  .list-index .table-scroll td:nth-child(7) {
    width: 12%;
  }
  .list-index .table-title th {
    font: 10px/1em 'Montserrat Bold';
  }
  .list-index .table-scroll {
    font: 9px/1em 'Montserrat Regular';
  }

  .lookups .table-title th {
    font: 12px/1em 'Montserrat Bold';
  }
  .lookups .table-scroll {
    font: 11px/1em 'Montserrat Regular';
  }
  .lookups .border-button .button {
    font: 10px/1em 'Montserrat Regular';
    padding: 10px 5px;
  }

  .table-scroll a {
    font: 10px/1em 'Montserrat Regular';
  }
}